<!-- views/admin/editadmin.hbs -->
<div class="container mt-5">
    <h2>Edit Administrator</h2>
    <form action="/updateadmin" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <div class="form-group">
            <label for="firstname">Admin Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{firstname}}" required>
        </div>
        <div class="form-group">
            <label for="lastname">Admin Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{lastname}}" required>
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" id="dni" name="dni" value="{{dni}}" required>
        </div>
        <div class="form-group">
            <label for="mail">Mail</label>
            <input type="email" class="form-control" id="mail" name="mail" value="{{mail}}" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="/listadmin" class="btn btn-secondary">Back</a>
    </form>
</div>
