<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {{#if loginActive}}
        <link rel="stylesheet" href="/assets/css/login.css">
    {{/if}}
</head>

<body class="bg-light">
    <header>
        <nav class="bg-danger text-white h-100 fixed-top navbar-custom d-flex flex-column justify-content-between">
            <div class="d-flex flex-column align-items-center py-3">
                <div class="text-center text-white mb-4">
                    <img src="/assets/imgs/logo.png" alt="Logo" class="rounded-circle mb-2" style="height: 64px; width: 64px;">
                    <h4 class="mb-0">PedidosJa</h4>
                </div>
                
                <div class="nav flex-column w-100">
                    {{#if isAuthenticated}}
                        {{#ifEquals userType "customer"}}
                            <a href="/" class="nav-link text-white text-center py-2">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                            <a href="/profileCustomer" class="nav-link text-white text-center py-2">
                                <i class="fas fa-user"></i>
                                <p>Profile</p>
                            </a>
                            <a href="/order" class="nav-link text-white text-center py-2">
                                <i class="fas fa-box"></i>
                                <p>My Orders</p>
                            </a>
                            <a href="/address" class="nav-link text-white text-center py-2">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>My Addresses</p>
                            </a>
                            <a href="/customer/favorite" class="nav-link text-white text-center py-2">
                                <i class="fas fa-heart"></i>
                                <p>My Favorites</p>
                            </a>
                        {{/ifEquals}}
                        {{#ifEquals userType "commerce"}}
                            <a href="/" class="nav-link text-white text-center py-2">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                            <a href="/profileComercio" class="nav-link text-white text-center py-2">
                                <i class="fas fa-user"></i>
                                <p>Profile</p>
                            </a>
                            <a href="/categoria" class="nav-link text-white text-center py-2">
                                <i class="fas fa-th-list"></i>
                                <p>Category Management</p>
                            </a>
                            <a href="/product" class="nav-link text-white text-center py-2">
                                <i class="fas fa-box"></i>
                                <p>Product Management</p>
                            </a>
                        {{/ifEquals}}
                        {{#ifEquals userType "admin"}}
                            <a href="/" class="nav-link text-white text-center py-2">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                            <a href="/listcustomer" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-users"></i>
                                <p>List Customer</p>
                            </a>
                            <a href="/listdelivery" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-truck"></i>
                                <p>List Delivery</p>
                            </a>
                            <a href="/listcommerce" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-store"></i>
                                <p>List Commerce</p>
                            </a>
                            <a href="../setting" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-gears"></i>
                                <p>Settings</p>
                            </a>
                            <a href="/listadmin" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-user-tie"></i>
                                <p>Mant Admin</p>
                            </a>
                            {{!-- <a href="../signupAdmin" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-plus"></i>
                                <p>Signup Admin</p>
                            </a> --}}
                        {{/ifEquals}}
                        {{#ifEquals userType "delivery"}}
                            <a href="/" class="nav-link text-white text-center py-2">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                            <a href="/profiledelivery" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                                <i class="fa-solid fa-user-tie"></i>
                                <p>Profile</p>
                            </a>
                        {{/ifEquals}}
                    {{/if}}
                </div>
            </div>

            {{#if isAuthenticated}}
                <form action="../logout" method="POST">
                    <button type="submit" class="btn nav-link text-white text-center py-2 w-100">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>LogOut</p>
                    </button>
                </form>
            {{else}}
                <div class="nav flex-column w-100">
                    <a href="../login" class="nav-link text-white text-center py-2 {{#if loginActive}}active{{/if}}">
                        <i class="fas fa-sign-in-alt"></i>
                        <p>Login</p>
                    </a>
                    <a href="../signupCommerce" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                        <i class="fas fa-store"></i>
                        <p>Signup Commerce</p>
                    </a>

                    <a href="../signup" class="nav-link text-white text-center py-2 {{#if signupActive}}active{{/if}}">
                        <i class="fas fa-user-plus"></i>
                        <p>Signup</p>
                    </a>
                </div>
            {{/if}}
        </nav>
    </header>

    <main class="main-content">
        
        {{#if HasErrorMessage}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul>
                {{#each errorMessage}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/if}}
        <div class="border rounded-4 p-4 ">
        {{{body}}}
        </div> 
    </main>
    
    {{#if loginActive}}
    {{else}}
        <footer class="bg-white shadow-sm py-4 mt-6">
            <div class="container text-center text-muted">
                © 2024 PedidosYa. Todos los derechos reservados XD.
            </div>
        </footer>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
</body>
</html>
