<div class="container mt-4">
    <!-- Button to go back to the home page -->
    <a href="/" class="btn btn-secondary mb-3">Back to Home</a>

    <!-- Form to search commerces by name -->
    <form class="mb-3" method="GET" action="{{url}}">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search commerces by name" value="{{searchQuery}}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- Counter of commerces -->
    <h2 class="mt-4">Commerces</h2>
    <hr>
    <p>{{commerces.length}} commerces found</p>
    {{!-- <a href="/add_commerce" class="d-block w-100 mb-3"><button class="btn btn-primary w-100">New Commerce</button></a> --}}

    <!-- List of commerces -->

            {{#each commerces}}
            
            <div class="card" style="width: 18rem;" id="{{this.id}}">
                <img src="/{{this.photo}}" class="card-img-top p-4" height="250" width="200" alt="...">
                <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                    <a href="/commerce/{{this.id}}/products" class="btn btn-primary w-75">Visitar</a>
                        <form action="/favorite/{{this.id}}" method="POST">
                            <button type="submit" class="btn btn-link p-0">
                                <i class="fa{{#if this.isFavorite}}s{{else}}r{{/if}} fa-heart" style="color:{{#if this.isFavorite}}red{{else}}gray{{/if}}; font-size: 1.5rem;"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
      
</div>
